apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: tutoria
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: luni1993/tutorias-backend:latest
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: mysql
            - name: DB_USER
              valueFrom: { secretKeyRef: { name: mysql-secret, key: MYSQL_USER } }
            - name: DB_PASSWORD
              valueFrom: { secretKeyRef: { name: mysql-secret, key: MYSQL_PASSWORD } }
            - name: DB_NAME
              valueFrom: { secretKeyRef: { name: mysql-secret, key: MYSQL_DATABASE } }
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: tutoria
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080
  type: NodePort
